#edithomework-container {
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

#edithomework-container form {
  padding: 36px;
  margin: 50px 0;
}

#edithomework-container h1 {
  color: #6b93ec;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.edithomework-underline {
  border-bottom: solid 2px #6b93ec;
  margin: -0.312em auto;
  width: 200px;
}

.edithomework-note {
  width: 100%;
}

#edithomework-container input[type="text"],
#edithomework-container [type="note"],
#edithomework-container [type="textHomework"] {
  border: none;
  border-bottom: solid 2px #6b93ec;
  color: #3b3b3b;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
}

#edithomework-container input[type="text"]:focus,
#edithomework-container [type="note"]:focus {
  outline: none;
}

.edithomework-name {
  float: left;
  width: 45%;
}

.edithomework-note input::placeholder {
  color: #6b93ec;
}
.edithomework-telephone input::placeholder {
  color: #6b93ec;
}

.edithomework-name input::placeholder {
  color: #6b93ec;
}
.edithomework-textHomework textarea::placeholder {
  color: #6b93ec;
}
.addStudent-teacher input::placeholder {
  color: #6b93ec;
}

#form_button-edithomework {
  background: none;
  border: solid 2px #6b93ec;
  color: #6b93ec;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
}

#form_button-edithomework:hover {
  background: #6b93ec;
  color: #f2f3eb;
}

.edithomework-textHomework textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

#edithomework-container textarea {
  border: none;
  border-bottom: solid 2px #6b93ec;
  color: #3b3b3b;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
}

#edithomework-container textarea:focus {
  outline: none;
}
.select-student {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 17px;
  background-color: #407bff;
}

.addStudent-teacher {
  float: right;
  width: 45%;
}
@media screen and (max-width: 768px) {
  #edithomework-container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  #edithomework-container h1 {
    font-size: 26px;
  }

  #form_button-edithomework {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  #edithomework-container h1 {
    font-size: 15px;
  }

  .edithomework-underline {
    width: 100px;
  }

  #edithomework-container input[type="text"],
  #edithomework-container input[type="note"],
  #edithomework-container input[type="textHomework"] {
    font-size: 0.875em;
  }
}
